<form method="post" action="{{ path('patient_informations_delete', {'id': patient_information.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patient_information.id) }}">
    <button class="btn">Delete</button>
</form>
