{% extends 'emailtemp.html.twig' %}

{% block test %}

    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{name}}, We are sorry to inform you that your informations were rejected for some reasons</p>
    <div>{{form.RejectReason}}</div>
{% endblock %}

